.tb-lr {
    -ms-writing-mode: tb-lr;
    -webkit-writing-mode: vertical-lr;
    -webkit-text-orientation: sideways-right;
    writing-mode: vertical-lr;
    /* writing-mode: tb-rl; */
    text-orientation: sideways-right;
    /* font-family: "mongol-font"; */
    font-size: 24px;
}

@font-face {
    font-family: "mongol-font";
    src: url(../../assets/fonts/mngldengxianotf.ttf);
}